html {
	color-scheme: dark;
}

body {
	margin: 3vw auto;
	max-width: 55rem;
	line-height: 1.3;
	font-size: 1.2rem;
	padding: 0 2rem;
	
	background-color: $background;
	color: $foreground;
	font-family: monospace;
}

h1, h2, h3, h4 {
	margin-bottom: 0.2rem;
}

p {
	margin-top: 0.1rem;
}
